@model IEnumerable<task_omr.Helpers.SearchBusStopResult>

@{
    ViewBag.Title = "SearchBusStopResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusStopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoyageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusStopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoyageName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
