@model IEnumerable<task_omr.Helpers.SearchBusStopResult>

@{
    ViewBag.Title = "Search result of bus stops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusStopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoyageName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusStopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoyageName)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
</div>