@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    @if (Request.IsAuthenticated)
    {
        <p class="lead">Now you can test it</p>

    <h2>Getting started</h2>
    <h5>View all the list of bus stops: Menu Tickets -> @Html.ActionLink("List of bus stops", "../Tickets/BusStops")</h5>
    <h5>Searching for a desiring bus stop: Menu Tickets -> @Html.ActionLink("Search for bus stops", "../Tickets/SearchBusStops")</h5>
    <h5>View a list of all voyages: Menu "Tickets" -> @Html.ActionLink("Voyages", "../Tickets/Voyages")</h5>
    <h5>View a list of ordered tickets: Menu "Tickets" -> @Html.ActionLink("My orders", "../Tickets/OrdersInfo")</h5>
    }
    else
    {
        <p class="lead">To get started please @Html.ActionLink("log in", "../Account/Login") or @Html.ActionLink("register", "../Account/Register") </p>
    }
    
</div>